.container {
    width: 70%;
    margin: 0 auto;
}

.container .navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container .navigation a {
    text-decoration: none;
    color: #404040;
    font-size: 1.25rem;
    transition: 0.3s;
}

.container .navigation a:hover {
    color: #0b4daf;
}